<%- include('../layouts/header.ejs') %>

<section id="hero">
    <h4>Trade in offer </h4>
    <h2>Super value deals</h2>
    <h1>On all products</h1>
    <p>Save more with coupons & up to 70% off!</p>
    <button>Shop Now</button>
</section>


<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="../../public/assets/images/features/f1.png" alt=""> 
        <h6>Free shipping</h6>
    </div>
    <div class="fe-box">
        <img src="../../public/assets/images/features/f2.png" alt=""> 
        <h6>Online Order</h6>
    </div>
    <div class="fe-box">
        <img src="../../public/assets/images/features/f3.png" alt=""> 
        <h6>Save Money</h6>
    </div>
    <div class="fe-box">
        <img src="../../public/assets/images/features/f4.png" alt=""> 
        <h6>Promotions</h6>
    </div>
    <div class="fe-box">
        <img src="../../public/assets/images/features/f5.png" alt=""> 
        <h6>Happy Sell</h6>
    </div>
    <div class="fe-box">
        <img src="../../public/assets/images/features/f6.png" alt=""> 
        <h6>24/7 Support</h6>
    </div>
</section>

<section id="product1" class="section-p1">
    <h2>Featured Products</h2>
    <p>Summer Collection New Modern Design</p>
    <div class="pro-container">
        <div class="pro">
        <img src="../../public/assets/images/products/f1.jpg" alt="">
        <div class="des">
            <span>adidas</span>
            <h5>Cartoon Astranaut T-shirt</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>₹2100/-</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
      
        
        
    </div>
    <div class="pro">
        <img src="../../public/assets/images/products/f2.jpg" alt="">
        <div class="des">
            <span>adidas</span>
            <h5>Cartoon Astranaut T-shirt</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>₹2300/-</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
        <img src="../../public/assets/images/products/f3.jpg" alt="">
        <div class="des">
            <span>adidas</span>
            <h5>Cartoon Astranaut T-shirt</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>₹2500/-</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
        <img src="../../public/assets/images/products/f4.jpg" alt="">
        <div class="des">
            <span>adidas</span>
            <h5>Cartoon Astranaut T-shirt</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>₹2900/-</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
        <img src="../../public/assets/images/products/f5.jpg" alt="">
        <div class="des">
            <span>adidas</span>
            <h5>Cartoon Astranaut T-shirt</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>₹1900/-</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
        <img src="../../public/assets/images/products/f6.jpg" alt="">
        <div class="des">
            <span>adidas</span>
            <h5>Cartoon Astranaut T-shirt</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>₹2000/-</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
        <img src="../../public/assets/images/products/f7.jpg" alt="">
        <div class="des">
            <span>adidas</span>
            <h5>Cartoon Astranaut T-shirt</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>₹2700/-</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
        <img src="../../public/assets/images/products/f8.jpg" alt="">
        <div class="des">
            <span>adidas</span>
            <h5>Cartoon Astranaut T-shirt</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>₹2400/-</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    
</div>
</section>


<section id="banner" class=".section-m1">
    <h4>Repair Services</h4>
    <h2>Up to <span> 70% off </span> - All t-Shirts & Accessories</h2>
    <button class="normal">Explore More</button>
</section>

<section id="product1" class="section-p1">
    <h2>New Arrivals</h2>
    <p>Summer Collection New Modern Design</p>
    <div class="pro-container">
        <div class="pro">
        <img src="../../public/assets/images/products/n1.jpg" alt="">
        <div class="des">
            <span>adidas</span>
            <h5>Cartoon Astranaut T-shirt</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>₹2100/-</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
        <img src="../../public/assets/images/products/n2.jpg" alt="">
        <div class="des">
            <span>adidas</span>
            <h5>Cartoon Astranaut T-shirt</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>₹2300/-</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
        <img src="../../public/assets/images/products/n3.jpg" alt="">
        <div class="des">
            <span>adidas</span>
            <h5>Cartoon Astranaut T-shirt</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>₹2500/-</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
        <img src="../../public/assets/images/products/n4.jpg" alt="">
        <div class="des">
            <span>adidas</span>
            <h5>Cartoon Astranaut T-shirt</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>₹2900/-</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
        <img src="../../public/assets/images/products/n5.jpg" alt="">
        <div class="des">
            <span>adidas</span>
            <h5>Cartoon Astranaut T-shirt</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>₹1900/-</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
        <img src="../../public/assets/images/products/n6.jpg" alt="">
        <div class="des">
            <span>adidas</span>
            <h5>Cartoon Astranaut T-shirt</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>₹2000/-</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
        <img src="../../public/assets/images/products/n7.jpg" alt="">
        <div class="des">
            <span>adidas</span>
            <h5>Cartoon Astranaut T-shirt</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>₹2700/-</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
        <img src="../../public/assets/images/products/n8.jpg" alt="">
        <div class="des">
            <span>adidas</span>
            <h5>Cartoon Astranaut T-shirt</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>₹2400/-</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    
</div>
</section>

<section id="sm-banner" class="section-p1">
    <div class="banner-box">
        <h4>Crazy Deals</h4>
        <h2>buy 1 get 1 free</h2>
        <span>The best classic dress is on sale at Clothify</span>
        <button class="white">Learn more</button>
    </div>
    <div class="banner-box banner-box2">
        <h4>Spring/Summer</h4>
        <h2>Upcoming Season</h2>
        <span>The best classic dress is on sale at Clothify</span>
        <button class="white">Collection</button>
    </div>
</section>

<section id="banner3">
    <div class="banner-box">
        <h2>Season Sale</h2>
        <h3>Winter Collection - 50% OFF</h3>

    </div>
    <div class="banner-box banner-box2">
        <h2>New Footwear Collection</h2>
        <h3>Spring / Summer 2023</h3>
        
    </div>
    <div class="banner-box banner-box3">
        <h2>T-shirts</h2>
        <h3> New Trendy Prints</h3>
        
    </div>
</section>

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sign up For Newsletters</h4>
        <p>Get E-mail updates about our latest shop and  <span> Special Offers. </span>
        </p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your email address">
        <button class="normal">Sign Up</button>
    </div>
</section>

<%- include('../layouts/footer.ejs') %>
